.nav li {
    display: inline;
}

.nav a {
    color: black;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-decoration: none;
}

.jumbotron {
    background-image: url(all.jpg);
    height: 300px;
    padding: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    width: 1000px;
    padding: 2px;
    text-align: center;
    color:red;
    background-color: rgba(0,0,0, 0.5);
}

.jumbotron h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    font-size: 28px;
    color: #ffb550;
}

.learn-more {
    width: 120px;
    height: 25px;
    border-radius: 5%;
    background-color: rgba(235, 145, 39);
    color: white;
    text-align: center;
}

.learn-more a {
    color: white;
    text-decoration: none;
}

.learn-more:hover {
    color: #f2caa3;
    background-color: rgb(184, 134, 11, 0.5);
}

.information {
    background-color: darkgray;
    height: 300px;
    padding: 50px;
}

.information a {
    height: 100px;
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(255, 127, 80, 1);
    color: white;
    text-decoration: none;
}

.information a:hover {
    background-color: rgba(235, 145, 39, 0.6);
}
